.wi {
    width: -webkit-fill-available !important;
}
.helvetica { font-family: 'helvetica neue', helvetica, sans-serif; } 
.avenir { font-family: 'avenir next', avenir, sans-serif; } 
.openSans { font-family: 'Open Sans', sans-serif; }
